*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: grid;
    grid-template-areas:
      "navbar navbar"
      "section section"
      "main main"
      'footer footer'
    ;
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto-fill 1fr 100px;
    min-height: 100vh;
    text-align: center;
}
nav{
    grid-area: navbar;
    background-color: rgb(204, 17, 17);
    color: white;
    padding: 1em;    
    display: flex ;
    gap: 1em;
    /* justify-content: center; */
    align-items: center;
}
.logo{
    width: 25%;
}
section{
    grid-area: section;
    background-color: rgb(114, 112, 112);
    /* text-align: left; */
    /* padding-top: 1em; */
    height: 80%;
       
}
main{
    grid-area: main;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;    
    align-items: center;
    
}
footer{
    grid-area: footer;
    background-color: rgb(145, 2, 2);
    color: white;
}
.card{
    background-color: #F3F3F3;
    width: 300px;
    height: 400px;   
    box-shadow: 2px 2px 5px 2px black;   

}
.fotocar{
    width: 90%;
    height: 60%;     
    /* background-color: #F3F3F3;     */
    /* padding-top: 4em; */
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    
}
.boton{
    /* width: 5em;
    height: 3em; */
    background-color: rgb(204, 17, 17);
    color: white;
    padding: 1em;
    margin: 1em;
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 2em;

}
