*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    grid-area: navbar;
    background-color: rgb(204, 17, 17);
    color: white;
    padding: 1em;    
    display: flex ;
  
    
}
h2{
    font-family: "Racing Sans One", serif;
    font-weight: 400;
    font-style: normal;
    
}

@media (max-width: 576px ){


    body{
        display: grid;
        grid-template-areas:
          "navbar navbar"
          "section section"
          "main main"
          'footer footer'
        ;
        grid-template-columns: 150px 1fr;
        grid-template-rows: auto-fill 1fr 100px;
        min-height: 100vh;
        text-align: center;
    }
    nav{
        justify-content: space-between;
        align-items: center;
    } 
   .menu{
        width: 10%;
        
    }
    ul{
        display: none;
    }
    .menu:hover{
        background-color: rgba(128, 7, 7, 0.442);
    }
    
    .logo{
        width: 25%;
        background-color: rgba(53, 1, 1, 0.011);
        
    }
    section{
        grid-area: section;
        background-color: rgb(114, 112, 112);
        /* text-align: left; */
        /* padding-top: 1em; */
        height: 80%;
           
    }
    main{
        grid-area: main;
        background-color: white;
        color: black;  
        display: flex;  
        flex-wrap: wrap;
        gap: 2em;
        justify-content: center;    
        align-items: center;
        margin-top: 1.5em;
    
        
    }
    
    footer{
        grid-area: footer;
        background-color: rgb(145, 2, 2);
        color: white;
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .card{
        background-color: #F3F3F3;
        width: 300px;
        height: 400px;   
        box-shadow: 2px 2px 5px 2px black;   
        
    }
    .fotocar{
        width: 90%;
        height: 50%;     
        /* background-color: #F3F3F3;     */
        /* padding-top: 4em; */
        margin-top: 1em;
        margin-bottom: 1em;
        border-radius: 1em;
        
    }
    .boton{
        width: 70%;
        /* height: auto; */
        background-color: rgb(204, 17, 17);
        color: white;
        padding: 1em;
        margin: 2.5em;
        margin-left: 3em;
        margin-right: 3em;
        border-radius: 2em;
    
    }
    .boton:hover{
        background-color: rgb(148, 9, 9);
        
    }
    
    .buscador{
        color: white;
        margin: 0.5em;
    
    }
    
    #ordenar{
        width: 70%;
        background-color: white;
        padding: 0.5em;
        margin-left: 3em;
        margin-right: 3em;
        margin-bottom: 2em;
        border-radius: 0.5em;
        text-align: left;
    }
    .iconf{
        width: 10%;
    }
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        list-style: none;
    }
    
    .pagination a {
        color: #007bff;
        text-decoration: none;
        padding: 10px 15px;
        margin: 1em 5px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
    }
    
    .pagination a:hover {
        background-color: #007bff;
        color: white;
    }
    
    .pagination a.active {
        background-color: #007bff;
        color: white;
        border: none;
    }
    #card2{
        display: none;
    }
    }


@media (min-width: 576px ){


    body{
        display: grid;
        grid-template-areas:
          "navbar section"
          "navbar main"
          'footer main'
        ;
        grid-template-columns: 200px 1fr;
        grid-template-rows: auto-fill 1fr 100px;
        min-height: 100vh;
        text-align: center;
    }
    nav{        
        align-items: start;
        gap: 4px    ;
        display: flex;
        flex-wrap: wrap;
    }
    .menu{
        display: none;
    }
    h2{
        font-size: medium;
        padding-top: 0.5em;
    }
    ul{
        list-style: none;
        display: flex;        
        flex-direction: column;
        align-items: start;
        gap: 0.7em;
        
    }
    .logo{
        width: 40%;
        background-color: rgba(53, 1, 1, 0.011);
        
    }
    section{
        grid-area: section;
        background-color: rgb(114, 112, 112);
        /* text-align: left; */
        /* padding-top: 1em; */
        height: 80%;
           
    }
    main{
        grid-area: main;
        background-color: white;
        color: black;  
        display: flex;  
        flex-wrap: wrap;
        gap: 2em;
        justify-content: center;    
        align-items: center;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    
        
    }
    
    footer{
        grid-area: footer;
        background-color: rgb(145, 2, 2);
        color: white;
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        align-items: center;
        padding: 10px;
    }
    .card{
        background-color: #F3F3F3;
        width: 300px;
        height: 400px;   
        box-shadow: 2px 2px 5px 2px black;   
        
    }
    .fotocar{
        width: 90%;
        height: 50%;     
        /* background-color: #F3F3F3;     */
        /* padding-top: 4em; */
        margin-top: 1em;
        margin-bottom: 1em;
        border-radius: 1em;
        
    }
    .boton{
        width: 70%;
        /* height: auto; */
        background-color: rgb(204, 17, 17);
        color: white;
        padding: 1em;
        margin: 1em;
        margin-left: 3em;
        margin-right: 3em;
        border-radius: 2em;
    
    }
    .boton:hover{
        background-color: rgb(148, 9, 9);
        
    }
    
    .buscador{
        color: white;
        margin: 0.5em;
    
    }
 
    #ordenar{
        width: 70%;
        background-color: white;
        padding: 0.5em;
        margin-left: 3em;
        margin-right: 3em;
        margin-bottom: 2em;
        border-radius: 0.5em;
        text-align: left;
    }
    .iconf{
        width: 20%;
    }
    .pagination {
        display: none;
    }
    
    }